body {
    margin: 0; 
    padding: 0; 
    background-color: #1F2937; 
    color: white;
}

a { 
    text-decoration: none;
}

button {
    background-color: ligh;
    font-weight: bold;
    border: none;
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
    padding: 8px;
}

.PageTop {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.TopLinks {
    display: flex;
    margin-left: 600px;
    gap: 20px;
}

.MainContainer {
    display: flex;
    flex-direction: column;
    margin: 120px;
    margin-left: 200px;
    padding: 0px;
    font-weight: 400;
    font-size: large;
}

.SignUp {
    display: flex;
    justify-content: flex-start;
} 