body {
    margin: 0; 
    padding: 0; 
}

a { 
    text-decoration: none;
    color: gray;
}

button {
    background-color: ligh;
    font-weight: bold;
    border: none;
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
    padding: 8px;
}

.PageTop {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    width: 100%;
    background-color: #1F2937;
    margin: 0;
}

.TopLinks {
    display: flex;
    justify-content: center;
    margin-left: 600px;
    gap: 20px;
}

.MainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding-left: 230px;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: large;
    background-color: #1F2937; /* Same dark background color */
    color: white;
    width: 100%;

}

.SignUp {
    display: flex;
    justify-content: flex-start;
} 