a { 
    text-decoration: none;
  }

button {
    background-color: blue;
    color: white;
    font-weight: bold;
}

.PageTop {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.TopLinks {
    display: flex;
    margin-left: 600px;
    gap: 20px;
}

.MainContainer {
    display: flex;
    flex-direction: column;
    margin: 120px;
    margin-left: 200px;
    padding: 0px;
}

.SignUp {
    display: flex;
    justify-content: flex-start;
}